html, body {
  margin: 100;
  padding: 100;
}

.button{
  /* background-color: #4CAF50; Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-home{
  background-color: white; 
  color: black; 
  border: 2px solid #06750a;
}
.button-home:hover{
  background-color: #06750a; 
  color: #ffffff;
}

.button-about{
  background-color: white; 
  color: black; 
  border: 2px solid #771407;
}

.button-about:hover {
  background-color: #771407; 
  color: #ffffff;
}

.button-events{
  background-color: white; 
  color: black; 
  border: 2px solid #1708a0;
}

.button-events:hover {
  background-color: #1708a0; 
  color: #ffffff;
}

.button-myexperience{
  background-color: white; 
  color: black; 
  border: 2px solid #000000;
}

.button-myexperience:hover {
  background-color: #000000; 
  color: #ffffff;
}